* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
}

.grid-item {
  margin: 1px;
  padding: 5px;
  background-color: grey;
}

.gridItemHover {
  background-color: blue;
}
